.card__main{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFjXjvQUyw_vYWnclh5C_6yiHyI8vNGyxpSw&usqp=CAU');
    
    width: 100vw;
    height: 100vh;
    border: 3px solid red;
}

.card__inner{
    margin-top: 4rem;
    display: inline-block;
    width: 30%;
    height: 13rem;
   
    background-color: black;
    border: 1px solid black;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card__name{
    color: white;
    margin-top: 3rem;
    font-size: 28px;
    font-weight: bold;
}
.card__total{
    color: yellow;
      margin-top: 3rem;
      font-size: 23px;

}

button{
    height: 3rem;
    width: 15rem;
    background-color: red;
    color: white;
    font-size: 17px;
    margin-left:  40.5vw;
    margin-top: 2rem;
}